header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
}
.nav-bar {
    display: flex;
    justify-content: space-around;
}
.chart-icon {
    width: 2.5vw;  
    height: 2.vh;
}

.bar-1, .bar-2, .bar-3 {
    width: 3vw;
    border-color: black;
}

.logo{
    text-decoration: none;
    color: black;
    width: 30%;
    display:flex;
    
}

.img-logo{
    width: 100%;
}
