.title-pizza{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -1%;
    text-align: center;
    width: 100%;
}

.info{
    display: flex;
    justify-content: space-evenly;
}

/* Aqui empieza la descripcion */

.desc {
    display: flex;
    flex-direction: column;
    width: 35vw;
}


.ingredients h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
}

.ingredients p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 30px;
}

.ingredients button {
    width: 13.01em;
    height: 3.36em;
    border-radius: 50px;
    background-color: transparent;
    border-style: solid;
    border-color: #C4C4C4;
    margin-bottom: 30px;
}

.quantity h3 {
    margin: 0;
    margin-bottom: 15px;
}
.quantity-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.q-minus, .q-plus {
    width: 3em;
    height: 3em;
    border-radius: 150px;
    background-color: transparent;
    margin: 0 7px;
    border-style: solid;
    border-color: #C4C4C4;

}

/* Aqui empieza el picking */

.picking-size{
    width: 30vw;
}

/* Aqui empieza el pricing */


.pricing {
    display: flex;
    flex-direction: column;
    width: 35vw;
}

.pricing h3 {
    font-size: 20px;  
    margin: 0;
    margin-bottom: 20px;
}

.pricing p {
    font-size: 25px; 
    font-weight: bold;   
    margin: 0;  
    margin-bottom: 30px;
}

.pricing button {
    width: 183px;
    height: 47px;
    border-radius: 50px;
    background-color: red;
    border-style: none;
    border-color: #C4C4C4;
    box-shadow: -5px 20px 15px #e18585;
    color: white;
    font-size: 18px;
}

.pricing button img {
    width: 1em;
    margin-right: 5px;
}