.title-pizza{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -1%;
    text-align: center;
    width: 100%;
    display: none;
}

.info{
    display: flex;
    justify-content: center;
}

/* Aqui empieza la descripcion */

.desc {
    display: flex;
    flex-direction: column;
    width: 30vw;
}


.ingredients h3 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
}

.ingredients p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 30px;
}

.ingredients button {
    width: 13.01em;
    height: 3.36em;
    border-radius: 50px;
    background-color: transparent;
    border-style: solid;
    border-color: #C4C4C4;
    margin-bottom: 30px;
}

.quantity h3 {
    margin: 0;
    margin-bottom: 15px;
}
.quantity-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.q-minus, .q-plus {
    width: 3em;
    height: 3em;
    border-radius: 150px;
    background-color: transparent;
    margin: 0 7px;
    border-style: solid;
    border-color: #C4C4C4;

}

/* Aqui empieza el picking */

.picking-size{
    display: flex;
    flex-direction: column;
    width: 30vw;
    position: relative;
    top: 10vh;
    align-items: center;
    justify-content: center;
}

.size-buttons {
    display: flex;
    justify-content:  space-around;
    top: 30vh;
    width: 30%;
}

.size-s, .size-m, .size-l   {
    border-radius: 5em;
    border-style: none;
    filter: blur(0.2rem);
    width: 2vw;

}

.size-s:hover, .size-m:hover, .size-l:hover {
    filter: blur(0rem);
    transition-duration: 0.21s;
}


.pick-arrows{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5vh;
    height: 30vh;
    width: 20%;
    background-color: white ;
    justify-content: center;
    border-radius: 50px;
}

.scroll-right{
    background-color: transparent;
    border-style: none;
    fill: #6ED8E0;
    
    
}

.scroll-left{
    background-color: transparent;
    border-style: none;
    transform: rotate(180deg);
    
}

/* Aqui empieza el pricing */


.pricing {
    display: flex;
    flex-direction: column;
    width: 35vw;
}

.pricing h3 {
    font-size: 20px;  
    margin: 0;
    margin-bottom: 20px;
}

.pricing p {
    font-size: 25px; 
    font-weight: bold;   
    margin: 0;  
    margin-bottom: 30px;
}

.pricing button {
    width: 183px;
    height: 47px;
    border-radius: 50px;
    background-color: red;
    border-style: none;
    border-color: #C4C4C4;
    box-shadow: -5px 20px 15px #e18585;
    color: white;
    font-size: 16px;
}

.pricing button img {
    width: 1em;
    margin-right: 5px;
}
    
